[MESSAGES CONTROL]
disable=W1203,C0103,W0718,W0707,E0401,W0107,W0719,W0612
[MASTER]
init-hook='import sys; sys.path.append("/Microservices")'
[VARIABLES]
argument-rgx=[a-z_][a-z0-9_]*$
[REPORTS]
output-format=colorized
